<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div class="container">
    <h2>Dashboard</h2>
    <h3>Welcome, <span th:text="${user.username}">Username</span>!</h3>
    <h4>Your roles: <span th:text="${roles}">Roles</span></h4>
    <div>
        <a th:href="@{/logout}">Logout</a>
    </div>
</div>
<script th:src="@{/static/js/script.js}"></script>
</body>
</html>
