<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div class="container">
    <h1 th:text="${signupType == 'admin' ? 'Admin Registration' : 'User Registration'}">Registration</h1>
    <form th:action="@{/signup}" th:object="${user}" method="post">
        <!-- Username Field -->
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" required>
            <div class="error" th:if="${usernameExistsError}" th:text="${usernameExistsError}"></div>
        </div>

        <!-- Password Field with onkeyup event listener for strength check -->
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required onkeyup="checkPasswordStrength();">
            <div id="password-strength" class="password-strength"></div>
            <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>

        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a th:href="@{/login}">Sign in</a></p>
</div>

<!-- JavaScript for checking password strength -->
<script src="/js/passwordStrengthMeter.js"></script>

</body>
</html>
