<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div class="container">
    <h1 th:text="${signupType == 'admin' ? 'Admin Registration' : 'User Registration'}"></h1>
    <form th:action="@{/signup}" th:object="${user}" method="post">
        <input type="hidden" name="type" th:value="${signupType}" />
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" required>
            <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required>
            <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div th:if="${registrationError}">
            <p class="error" th:text="${registrationError}"></p>
        </div>
        <button type="submit">Sign Up</button>
    </form>
    <div class="return-home">
        <a th:href="@{/}">Return to Home</a>
    </div>
</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
